body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.donation {
    background-color: #E39C77;
    color:white;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 18px;

}

.logo{
    width: 150px
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #848BA4;
    padding: 15px 10px;
}
nav .nav-left, nav .nav-right{
    display: flex;
    gap: 15px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
    font-size: 15px;
}

nav a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.main{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: space-between;
}

.mainarticle{
    display:flex;
    flex-wrap: wrap;
    gap:50px;
    padding: 20px;
    background-color: #fff;
    border-bottom: 5px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px #ddd;
    max-width: 1080px;
}
.mainarticle p {
    font-size: 1rem; /* or try 1.05rem or 16px */
    line-height: 1.6;
  }
.mainarticle img{
    max-width: 40%;
    flex: 1 1 50%;
    border-radius: 6px;
}
.articledesc{
    flex: 1 2 50%;
}
.articledesc h2 a{
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
}
.articledesc p {
    margin-top: 0.5rem;
    color: #555;
}


.articles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    background-color: #fff;
    border-bottom: 5px solid #ddd;
    border-radius: 10px;
    
    max-width: 1100px;
    padding: 10px;
}

.article {
    background-color: #ffffff;
     overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    border-radius: 8px;
    transition: transform 0.2s ease;
}
.article img{
    width: 100%;
    height: auto;
}

.text {
    padding: 10px;
}
.text h3 a {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
}
.text p{
    color:#555;
    font-size: .95rem;
}
.sidebar{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.trade-box{
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 8px #ddd;
    color: black;
    min-width: 300px;
    margin-top: -325px;
    max-height: 385px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black;
}
.trade-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.view-all {
    color: black;
    font-size: 14px;
}

.trade-row{
    display: flex;
    justify-content: space-between;
    background-color: #E4E2E5;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    align-items: center;
}
.trade-row span{
    flex: 1;
    padding: 0 8px;
}
.action{
    color: green;
    font-weight: bold;
}

.company small, .name small {
    color: #E39C77;
    font-size: 12px;
}


.vote-box{
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 8px #ddd;
    color: black;
    margin-top: 0px;
    max-height: 385px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black;
}
.vote-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.view-all {
    color: black;
    font-size: 14px;
}

.vote-row{
    display: flex;
    justify-content: space-between;
    background-color: #E4E2E5;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    align-items: center;
}
.vote-row span{
    flex: 1;
    padding: 0 8px;
}
.bill-status{
    color: green;
    font-weight: bold;
}


.footer {
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    background-color: #848BA4;
    height: 60px;
    color: white;
    font-size: 14px;
}
  
.footer-links {
    display: flex;
    gap: 30px;
    flex: 0 1 auto; /* shorthand: grow=0, shrink=1, basis=auto */
}
  
.footer-links a {  /* font color for About , Contact, Donations */
    color: white;
    text-decoration: none;
    font-weight: bold;
}
  
  .footer-links a:hover {
    text-decoration: underline;
}
